<h2><%= @title %></h2>
<table>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Username</th>
      <th>Location</th>
      <th>Climate</th>
      <th>Role</th>
    </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= user.location %></td>
      <td><%= user.climate %></td>
      <td><%= user.role %></td>
      <td>
        <%= link_to 'edit', edit_user_registration_path %> <br />
        <%= link_to 'Remove User', registration_path(user), :data => { :confirm => 'Are you reaaally sure?' }, :method => :delete %>
      </td>
    </tr>
    <% end %>

  <p><%= link_to 'Create a new user', new_user_registration_path %></p>


  </table>



