<h1>Listing animals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Common name</th>
      <th>Scientific name</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.common_name %></td>
        <td><%= animal.scientific_name %></td>
        <td><%= image_tag animal.image, width: 50, height: 50 %></td>
        <td><%= animal.user.first_name %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
