<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_name %><br>
    <%= f.text_field :common_name %>
  </div>
  <div class="field">
    <%= f.label :scientific_name %><br>
    <%= f.text_field :scientific_name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :country_of_origin %><br>
    <%= f.text_field :country_of_origin %>
  </div>
  <div class="field">
    <%= f.label :botanical_properties %><br>
    <%= f.text_area :botanical_properties %>
  </div>
  <div class="field">
    <%= f.label :domestic_properties %><br>
    <%= f.text_area :domestic_properties %>
  </div>
  <div class="field">
    <%= f.label :climate %><br>
    <%= f.text_field :climate %>
  </div>
  <div class="field">
    <%= f.label :growing_instructions %><br>
    <%= f.text_area :growing_instructions %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
